*{
    margin: 0;
    padding: 0;
}
.call .container .row .col-md-6{
    margin: 150px 0;
}
.call .container .row .col-md-6 .head{
    font-weight: 500;
    font-size: 40px;
    margin-top: 70px;
    color: rgb(70,70,70);
}
.call .container .row .col-md-6{
    color: rgb(120,120,120);
}
